@model FitnessSystem.Web.ViewModels.Categories.CategoryWithExercisesViewModel

@{
    ViewBag.Title = "Details";
}

<h3>@Model.Name</h3>
@if (Model.Exercises.Count != 0)
{
    foreach (var exercise in Model.Exercises)
    {
        <div class="row">
            <h4><a href="~/Exercises/Details/@exercise.Id">@exercise.Title</a></h4>
        </div>
        <div class="row">
            <i>rating: </i><strong class="text-danger">@exercise.Votes</strong>
            <i>author: </i><strong>@exercise.Author</strong>
        </div>
        <br />
    }
}
else
{
    <div class="row text-danger">
        No Exercises Added in This category
    </div>
}

