
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<div id="toUpdate">
    @Ajax.ActionLink("Create new", "Create", "Categories", new AjaxOptions
{
    UpdateTargetId = "toUpdate",
    InsertionMode = InsertionMode.Replace
},
    new
    {
        @class = "btn btn-primary"
    })
</div>

<p>here are the categories</p>

@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>