extends ../shared/layout

block main-content
    .well.bs-component.text-center
        form(method="post").form-horizontal
            legend Register
            fieldset
                .form-group
                    label(for="username").col-lg-2.control-label Username
                    .col-lg-10
                        input(id="username" class="form-control" type="text" name="username" placeholder="Username")
                .form-group
                    label(for="email").col-lg-2.control-label Email
                    .col-lg-10
                        input(id="email" class="form-control" type="text" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
                .form-group    
                    label(for="password").col-lg-2.control-label Password
                    .col-lg-10    
                        input(id="password" class="form-control" type="password" name="password" placeholder="Password")
                .form-group      
                    label(for="confirm-password").col-lg-2.control-label Confirm Password
                    .col-lg-10    
                        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password")
                .form-group      
                    .col-lg-12
                        input(type="submit" class="btn btn-primary" value="Register").pull-right