@using Microsoft.AspNet.Identity
@using FitnessSystem.Common

@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(GlobalConstants.AdministratorRoleName, "Index", "Administration", new { area = "Administration" }, null)
        </li>
    </ul>
}