@using TwitterLikeSystem.ViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="card-panel hoverable">
    <h2 class="center">TwitterLikeSystem</h2>
    <h3>General Info for logging</h3>
    <p> to log as an admin -> email: admin@abv.bg pass: admin123</p>
    <p> to log as som of the users (6 with 2 tweets/user) -> email: user1@abv.bg pass: user1    etc.</p>
</div>