body {
    background-color:grey;
}
p a{
    text-decoration:none;
    color:black;
}
h1{
    color:white;
}
li{
    list-style-type:none;
}
li a {
    color:white;
    text-decoration:none;
}
li:last-child{
    text-decoration:underline;
    color:white;
}
#theHeader, ul, #mainFooter{
    text-align:center;
}
#backgounded{
    background-color:black;
}