<div class="row">
    <h3>Check Feedbacks</h3>
</div>
<br />

@(Html.Kendo().Grid<FitnessSystem.Web.Areas.Administration.ViewModels.Feedbacks.FeedbacksCheckViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Title);
          columns.Bound(c => c.Content);
          columns.Bound(c => c.CreatedOn).Format("{0:yyyy-mm-dd hh:mm}");
      })
      .Pageable()
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable(scrollable => scrollable.Enabled(false))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(10)
          .Read(read => read.Action("Feedbacks_Read", "FeedbacksCheck"))
      )
)
