<fieldset>
  <legend>Add new Cookie</legend>
  <div class="form-group">
    <label for="tb-cookie-text">
      Text:
      </label>
      <input type="text" class="form-control" id="tb-cookie-text" />
  </div>
  <div class="form-group">
    <label for="tb-cookie-category">Category:</label>
    <input type="text" id="tb-cookie-category" class="form-control" />
  </div>
  <div class="form-group">
    <label for="tb-cookie-img">IMG_link:</label>
    <input type="text" id="tb-cookie-img" class="form-control" />
  </div>
  <button class="form-control btn btn-primary" id="btn-cookie-add">Add</button>
</fieldset>
