<div class="row">
    <h3>Manage Categories</h3>
</div>
<br />

@(Html.Kendo().Grid<FitnessSystem.Web.ViewModels.Categories.ManageCategoriesSimpleViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name);
          columns.Bound(c => c.IsVisible);
         //columns.Bound(c => c.CreatedOn).Format("{0:yyyy-mm-dd hh:mm:ss.fff}");
          columns.Command(command => command.Destroy());
          columns.Command(command => command.Edit());
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
      })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.Id))
          .PageSize(10)
          .Read(read => read.Action("Categories_Read", "ManageCategories"))
          .Create(create => create.Action("Categories_Create", "ManageCategories"))
          .Update(update => update.Action("Categories_Update", "ManageCategories"))
          .Destroy(destroy => destroy.Action("Categories_Destroy", "ManageCategories"))
      )
)
