
@{
    ViewBag.Title = "About";
}
<div class="row">
    <h2>About us</h2>
</div>
<div class="row">
    <h3>Who We Are</h3>
</div>
<div class="row">
    We’re a team of editors, designers, engineers, videographers, customer service reps, and more that are passionate about changing lives.
</div>

<div class="row text-primary">
    We are the world's largest online fitness store—and a lot more
</div>
<div class="row">
    Your transformation is our passion. We are your personal trainer, your nutritionist,
    your supplement expert, your lifting partner, your support group. We provide the technology, tools,
    and products you need to burn fat, build muscle, and become your best self
</div>