@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    
</div>
<h2>INDEX</h2>
<p class="text-danger">find the custom route on localhost:..../Data/{text}</p>
<div class="col-md-2">
    @Html.Partial("_ThePartial")
</div>
